<html lang="en">

    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Face Crop</title>
        <link href="{{ url_for('static', filename='assets/css/bootstrap.css') }}" rel="stylesheet" type="text/css"/>
    </head>

    <body style="background-image:url({{ url_for('static', filename='Images/5.jpg') }});background-repeat: no-repeat;background-size : cover">
        <div class="row">
            <div class="col-md-5" style="margin-top:5%" >
                <div style="width:60%;margin-left:25%">
                    <img id="photo" style="width:100%;height:auto">
                </div>
            </div>
            <div class="col-md-2" style="margin-top:5%" >
                <form class="fileupload" id="fileupload">
                    <input id="fileInput" type="file" name="files" style="display:none;" />
                    <input type="button" value="Open" style="color:white;font:bold;font-size:20px;width:80%;height:40px;background-color:blue;box-shadow:aqua;margin-left:10%" onclick="document.getElementById('fileInput').click();" />
                </form>
                <div>
                    <input type="submit" value="Start" onclick="Start()" style="color:white;font:bold;font-size:20px;width:80%;height:40px;background-color:blue;box-shadow:aqua;margin-left:10%;margin-top:5%" id="scan1_btn">
                </div>
                <div style="display:none;">
                    <label style="margin-left: 10%;margin-top: 15%">Output Size:</label>
                    <input type="text" style="width: 90%;margin-left: 5%" id="width" name="width" placeholder="Width(mm)" value="55"><br><br>
                    <input type="text" style="width: 90%;margin-left: 5%" id="height" name="height" placeholder="Height(mm)" value="55"><br><br>
                </div>
                <div style="display:none;">
                    <label style="margin-left: 10%;margin-top: 15%">Background Color:</label>
                    <div class="row">
                        <input type="text" class="input-inline" id="red" name="red" style="width: 25%;" placeholder="Red" value="255">
                        <input type="text" class="input-inline" id="green" name="green" style="width: 25%;margin-left: 12%" placeholder="Green" value="255">
                        <input type="text" class="input-inline" id="blue" name="blue" style="width: 25%;margin-left: 12%" placeholder="Blue" value="255">
                    </div>
                </div>
            </div>
            <div class="col-md-5" style="margin-top:10%" >
                <div style="width:60%;margin-left:25%">
                    <img id = "result" style="margin-top:5px;margin-left:5px">
                </div>
            </div>
        </div>


    </body>
    <script src="{{ url_for('static', filename='dist/js/bootstrap.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/index.js') }}" type="text/javascript"></script>
</html>